.navbar{
    height: 100vh;
    width: 12vw;
    border-right: 2px solid rgb(199, 198, 198);
    background-color:#191922;
    
}

.navbar_h1{
    margin: 0%;
    padding-top: 5%;
    text-align: center;
    text-decoration: underline;
}
.navbar_ul{
    text-align: center;
    /* border: 2px solid rebeccapurple; */
    margin: 0%;
    padding: 0%;
    list-style: none;
    font-size: 1.5rem;
    font-weight: 500;
    
}
.navbar_ul :hover{
    color: #EF5466;
    transform: scale(110%);
    
}

.navbar_li{
    margin: 2rem;
}



